
.p-inputtext{
    background-color: var(--bg-gray-200);
    border: none;
    border-bottom: 1px solid #0e0c0c;
    color:rgb(4, 61, 9);
    font-weight: bold;
    display: block;
    font-family: 'Presidencia Fina', 'sans-serif';
    font-size: 1.5em;
    outline: none;
    padding: 10px 5px 10px 20px;
    margin: .5em 1em 1em 0em;
    text-align: end;
}

.p-card{
  background-color: #e6e3e3;
  width: 35em;
}
